<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <p>Hello! My name is Joshua Thaisananikone. I am researching on the market trends
                of Video Games in 2025. Although, video games have received some considerable
                attention by the media both negatively and positively, there still remains
                a lot of research and questions to be answered on the psychology and
                economic trends behind video games and the industries it has created
                and pioneered.
            </p>
            <p>My survey will focused on the behavior of players who play modern games from all genres. If you solely play
                retro video games (e.g.) games released before 2005&rpar;, then this survey is automatically not a match for you.
                A survey for retro gamers will be available in the near future.
                If this does not apply to you and you are mostly a modern gamer (e.g.) you play games released after 2005&rpar;, 
                congratulations! Please proceed with the survey!
            </p>
            <hr>
            <h1>Privacy & Consent Statement</h1>
            <p>By continuing with this survey, you acknowledge and agree to the following:</p>
            <ul>
                <li><b>Purpose:</b> This survey is part of a personal ePortfolio project. The goal is to demonstrate web development 
                    skills, not to conduct academic or commercial research.</li>
                <li><b>Voluntary Participation:</b> Your participation is completely voluntary. You may skip any question or stop at any 
                    time.
                </li>
                <li><b>Data Collected:</b> Only your survey responses are collected. No names, email addresses, or personally identifiable 
                    information will be requested.</li>
                <li><b>Anonymity:</b> All responses are anonymous and cannot be traced back to you.</li>
                <li><b>Use of Data:</b> Responses will be used solely for displaying the functionality of this project. They will not be sold, 
                    shared, or used for marketing.</li>
                <li><b>Data Retention:</b> Responses may be stored temporarily on the server for demonstration purposes, but will not be kept 
                    beyond the duration of the project.</li>
            </ul>
            <p>By submitting your responses, you consent to the above.</p>
            <hr>
            <form method = "POST">
                <label for="consent">Do you consent to providing your responses to us?</label><br><br>
                <input type="radio" name="consent" value="Yes" onclick="showNext()" required> 
                <label>Yes, I consent.</label>
                <br><br>
                <input type="radio" name="consent" value="No" onclick="exit()"> 
                <label>No, I do not consent.</label>
                <br>
            <br>
            <!-- Make button appear after user click on one of the radio buttons at the top. -->
            <div id = "nextButton" style="display: none;">
                <!-- <form method="POST" action="/" id="myForm"> -->
                    <!-- <input type="hidden" name="nextPage" id="nextPage" value="info"> -->
                    <button type="submit" class="indexSubmit" id="proceedButton" name="submitButton" 
                    formaction="/survey/2">Proceed</button>
                <!-- </form> -->
            </div>
            </form>
        </section>
        <script src="/js/main.js"></script>
    </body>
</html>