<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <p>Some final questions regarding your video game usage!</p>
            <hr>
            <!-- We will ask some few remaining question regarding the user's video game usage -->
             <!-- Ask how many hours per week that they play video games -->
              <!-- At what age did you start gaming? -->
               <!-- Do you develop games? (Whether that be on Scratch, 
                Roblox or using game engines like Godot, Unity, and ETC.) -->
                
        </section>
        <script src="/js/main.js"></script>
    </body>
</html>