<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <p>Some questions regarding your video game usage!</p>
            <hr>
            <h1>Video Games Questions:</h1>
            <!-- We will ask some few remaining question regarding the user's video game usage -->
               <!-- Do you develop games? (Whether that be on Scratch, 
                Roblox or using game engines like Godot, Unity, and ETC.) -->
            <form method="post">
                <label for="hours">How many hours per week you play video games?
                    <span style="color: red;">*</span></label><br><br>
                    <!-- 0 - 5 -->
                <input type="radio" name="hoursPlayed" value = 0 required> 
                <label> 0 - 5</label><br><br>
                <!-- 6 - 10 -->
                <input type="radio" name="hoursPlayed" value = 6>
                <label>6 - 10</label><br><br>
                <!--11 - 15 -->
                <input type="radio" name="hoursPlayed" value = 11>
                <label>11 - 15</label><br><br>
                <!-- 16 - 20 -->
                <input type="radio" name="hoursPlayed" value = 16>
                <label>16 - 20</label><br><br>
                <!-- 21+ -->
                <input type="radio" name="hoursPlayed" value = 21>
                <label>21+</label><br><br>
                <label for="ageBegan">At what age did you start gaming?
                    <span style="color: red;">*</span></label><br><br>
                    <!-- under 12 -->
                <input type="radio" name="ageBegan" value = 0 required>
                <label> Under 12</label><br><br>
                <!-- 12 - 15 -->
                <input type="radio" name="ageBegan" value = 12>
                <label>12 - 15</label><br><br>
                <!-- 15 - 18 -->
                <input type="radio" name="ageBegan" value = 15>
                <label>15 - 18</label><br><br>
                
                <input type="radio" name="ageBegan" value = 19>
                <label>19+</label><br><br>
                <label for="gameDev">Do you develop games? <br>(E.g.) Scratch, 
                Roblox, or game engines like Godot, Unity, and ETC.&#41;</label><br><br>
                <input type="radio" name="gameDev" value="Yes" required>
                <label> Yes</label><br><br>
                <input type="radio" name="gameDev" value=No">
                <label> No</label><br><br>

                 <label for="roblox"> Do you play Roblox?<span style="color: red;">*</span></label><br><br>
                <input type="radio" onclick="showRobloxBox(false)" name="roblox" value="Yes" required>
                <label> Yes</label>
                <br><br>
                <input type="radio" onclick="showRobloxBox(true)" name="roblox" value="No">
                <label> No</label><br><br>
                <div id="robloxYes" hidden>
                    <label for="robloxWhy">You stated that you played Roblox. 
                        Do you like it? Why or why not?</label>
                    <br><br>
                    <textarea id="robloxWhy" name="robloxWhy" rows="5" cols="100" style="resize: none;"></textarea><br><br>
                </div>
                <div id="robloxNo" hidden>
                    <label for="robloxNo">You stated that you <b>DO NOT</b> played Roblox. Why?</label>
                    <br><br>
                    <textarea id="noRoblox" name="robloxWhy" rows="5" cols="100" style="resize: none;"></textarea><br><br>
                </div>
            <div id = "nextButton" style="display: flex;"></div>
                <button type="submit" formaction="/survey/2" class="indexSubmit" id="back">
                        Back</button>
                <input type="hidden" name="nextPage"  id="nextPage" value="info3">
                <button type="submit" formaction="/survey/4" class="indexSubmit" name="submitButton">Finish</button>
            </div>
            </form>
        </section>
        <script src="/js/main.js"></script>
    </body>
</html>