<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <p>Some final questions regarding your video game usage!</p>
            <hr>
        </section>
        <script src="/js/main.js"></script>
    </body>
</html>