<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/src/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <p>Some more information for you to provide before getting into the survey:</p>
            <hr>
            <h1>Household Information:</h1>
            <form>
                <label for="income"> What is your household income? </label><br><br>
                <input type="radio" name="income" value="24999"><label> Less than $25,000</label><br><br>
                <input type="radio" name="income" value="25000"><label> $25,000 – $34,999</label><br><br>
                <input type="radio" name="income" value="35000"><label> $35,000 – $49,999</label><br><br>
                <input type="radio" name="income" value="50000"><label> $50,000 – $74,999</label><br><br>
                <input type="radio" name="income" value="75000"><label> $75,000 – $99,999</label><br><br>
                <input type="radio" name="income" value="100000"><label> $100,000 – $149,999</label><br><br>
                <input type="radio" name="income" value="150000"><label> $150,000 – $199,999</label><br><br>
                <input type="radio" name="income" value="200000"><label> $200,000 or more</label><br><br>
                <input type="radio" name="income" value="n/a"><label> Prefer not to answer</label><br><br>
                <label for="size"> What is your household size? </label><br><br>
                <input type="radio" name="income" value="1"><label> 1</label><br><br>
                <input type="radio" name="income" value="2"><label> 2</label><br><br>
                <input type="radio" name="income" value="3"><label> 3</label><br><br>
                <input type="radio" name="income" value="4"><label> 4</label><br><br>
                <input type="radio" name="income" value="5+"><label> 5+</label><br><br>
                <hr>
                <h1>Other demographics information:</h1>
                <label for="education">What is your highest level of Education that you completed?</label><br><br>
                <input type="radio" name="education" value="High School"><label> High School or GED</label><br><br>
                <input type="radio" name="education" value="Some College"><label> Some College</label><br><br>
                <input type="radio" name="education" value="Associate's Degree"><label> Associate's Degree</label><br><br>
                <input type="radio" name="education" value="Bachelor's Degree"><label> Bachelor's Degree</label><br><br>
                <input type="radio" name="education" value="Master's Degree"><label> Master's Degree</label><br><br>
                <input type="radio" name="education" value="Doctorate"><label> Doctorate or PhD</label><br><br>
                <label for="employment-status">What is your employment status?</label><br><br>
                <input type="radio" name="employment-status" value="Full-Time"><label> Full-Time</label><br><br>
                <input type="radio" name="employment-status" value="Full-Time"><label> Part-Time</label><br><br>
                <input type="radio" name="employment-status" value="Self Employed"><label> Self Employed</label><br><br>
                <input type="radio" name="employment-status" value="Student"><label> Student</label><br><br>
                <label for="marital-status">What is your marital status?</label><br><br>
                <input type="radio" name="marital-status" value="Married"><label> Married</label><br><br>
                <input type="radio" name="marital-status" value="Seperated"><label> Seperated</label><br><br>
                <input type="radio" name="marital-status" value="Divorced"><label> Divorced</label><br><br>
                <input type="radio" name="marital-status" value="Windowed"><label> Windowed</label><br><br>
                <input type="radio" name="marital-status" value="Never married"><label> Never married</label><br><br>
            </form>
                <div id = "nextButton">
                    <button onclick="nextPage('/src/info.html')">&lt;&lt;</button>
                    <button onclick="nextPage('/src/info2.html')">&gt;&gt;</button>
                </div>
        </section>
        <script src="/src/js/main.js"></script>
    </body>
</html>