<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <p>Thank you for completing the survey! Your responses have been recorded.</p>
            <hr>
            <h1>Overall Survey Results:</h1>
        </section>
    </body> 
</html>