<!DOCTYPE html>
<html>
    <head>
        <title>Josh's 2025 Gaming Survey</title>
    </head>
    <link rel="stylesheet" href="/css/main.css">
    <body>
        <header>Josh's 2025 Gaming Survey</header>
        <br>
        <section>
            <h1><u>SIGN-UP:</u></h1>
            <p>Enter your email and password to create an account to enter the survey!</p>
            <form method="post">
                <label for="email">Email:
                    <span style="color: red;">*</span></label><br><br>
                <input type="email" name="email" required><br><br>
                <label for="password">Password:
                    <span style="color: red;">*</span></label><br><br>
                <input type="password" name="password" required><br><br>
                <button type="submit" formaction="/signup" id="login_signup" name="submitButton">Sign Up</button>
                <br>
                <br>
                <a href="/survey/7">Already got an account? Log in here!</a>
            </form>
        </section>
    </body> 
</html>