/* Contains the general css styling for the survey page. */

/* For mobile phones and small tablets */
@media (max-width: 768px) {
    body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    }
} 

/* For laptops and desktop and large tablets */
@media (min-width: 769px) {
    body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 360px;
    margin-right: 360px;
    }
}

p{
    font-size: 20px;
    text-align: center;
}
h1{
    text-align: center;
}
li{
    font-size: 20px;
}
label{
    font-size: 24px;
}

hr{
    color: black;
    width: 75%;
}
/* RELATED TO FORM AND INPUTS */
form{
    text-align: center;
    height: auto;
}

.date{
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 16px;
}

input, select{
    font-size: 16px;
}

#exitButton{
    scale: 1.4;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
}

.indexSubmit{
    width: 25%;
    height: 25%;
    margin-bottom: 2%;
}

#login_signup{
    text-shadow: 1px 1px 1px #000000;
    font-weight: bold;
    text-shadow: 10%;
    color: white;
    background-color: rgb(6, 206, 26);
    border-radius: 10px;
}
#login_signup:hover{
    background-color: darkgreen;
}

/* ABOVE RELATED TO FORM AND INPUTS */

button{
    width: 100%;
    height: 100%;
    font-size: 20px;
    /* text-align: center; */
}

#nextButton{
    scale: 1.4;
    display: flex;
    justify-content: center;
}

header{
    font-size: 48px;
    text-align: center;
}

section{
    background-color: white;
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: column;
    max-height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1vh 1vw 1vh 1vw;
}


